div(style="margin: -1em 0 2.5em;")
	div.body
		div.wrap
			div
				div.pull-right
					img(src="#{app}ui/image/kanha.jpg", style="height: 3em; margin: 0.65em 0;")
				div(style="font-size: 0.8em; margin-right: 5em;")
					blockquote= "Abandon all varieties of religion and just surrender unto Me. I shall deliver you from all sinful reactions. Do not fear."
						small Lord Shri Krishna
				div.clear

			p.text-center(style="font-size: 0.55em; color: #999;") This site is proudly powered by 
				a(href="http://github.com/tr4n2uil/backend.php", target="_blank") backend.php
				|&ndash; PHP labs.

div.fixed-bottom-done(style="font-size: 0.7em; background-color: #f3f3f3; border-top: solid 1px #dedede; padding: 0.6em 0;")
	div.body
		div.wrap
			span &copy; 2014 | Vibhaj Rajan
			span.pull-right Find me on &nbsp;
				a.no-link(href="http://www.linkedin.com/in/vibhaj/", target="_blank", title="Connect on Linkedin")
					img.footlink(src="#{app}ui/image/icons/linkedin.png")
				a.no-link(href="http://github.com/tr4n2uil/", target="_blank", title="Explore on Github")
					img.footlink(src="#{app}ui/image/icons/github.png")
				a.no-link(href="http://www.facebook.com/tr4n2uil/", target="_blank", title="Friend me on Facebook")
					img.footlink(src="#{app}ui/image/icons/fb.png")
				a.no-link(href="http://google.com/+VibhajRajan", target="_blank", title="Add me on Google+")
					img.footlink(src="#{app}ui/image/icons/google-plus.png")
				a.no-link(href="http://www.twitter.com/tr4n2uil/", target="_blank", title="Follow me on Twitter")
					img.footlink(src="#{app}ui/image/icons/twitter.png")

			span.clear
